# Loading libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
url='http://bit.ly/w-data'
data=pd.read_csv(url)
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [4]:
y=data['Scores']
x=data['Hours']

# Test train split

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [60]:
X_train.shape

(20,)

In [61]:
y_train.shape

(20,)

In [63]:
x_matrix=X_train.values.reshape(-1,1)

# Linear Regression

In [64]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_matrix,y_train)

LinearRegression()

In [65]:
reg.score(X_test.values.reshape(-1,1),y_test.values.reshape(-1,1))

0.9454906892105356

In [66]:
arr=np.array([9.25])
ans=arr.reshape(-1,1)

# Prediction

In [67]:
reg.predict(ans)

array([93.69173249])

In [69]:
print("Predicted Score= {}".format(*reg.predict(ans)))

Predicted Score= 93.69173248737538